[[runners]]
  name = "test-ci"
  url = "http://172.17.0.1:8929"
  clone_url = "http://172.17.0.1:8929"  # gitlab和gitlab-runner的host不同是，需指定gitlab的host，否则runner无法拉取代码
  token = "9cS1WY1sUEdQ3Zib_75n"
  executor = "docker"
  environment = ["DOCKER_TLS_CERTDIR="]
  [runners.custom_build_dir]
  [runners.docker]
    tls_verify = false  # 未false时登陆docker hub不需要tls鉴权
    image = "alpine:latest"
    privileged = true  # runner本身运行在容器中，在容器中创建新的docker镜像或者运行新的容器，需要开启这个权限
    disable_entrypoint_overwrite = false
    oom_kill_disable = false
    disable_cache = false
    volumes = ["/cache"]  # runner会缓存制作docker镜像时的中间layer，可以加速镜像的制作
    shm_size = 0
  [runners.cache]
    [runners.cache.s3]
    [runners.cache.gcs]